@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* Disable Selecing */
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}
